<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Sobre Nós</h3>
      <p>Soluções tecnológicas para o agronegócio brasileiro.</p>
    </div>

    <div class="footer-section">
      <h3>Contato</h3>
      <p><i class="fas fa-envelope"></i> contato&#64;agtech.com.br</p> <!-- Corrigido o @ -->
      <p><i class="fas fa-phone"></i> (XX) XXXX-XXXX</p>
    </div>

    <div class="footer-section">
      <h3>Redes Sociais</h3>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>

<div class="footer-bottom">
  <p>&copy; {{ currentYear }} AgroTech Solutions. Criado por <strong>{{creatorName}}</strong></p>

  <div class="social-links">
        <a href="https://www.instagram.com/uedney.dev/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/uedneymorais/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://wa.me/62991861075" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://github.com/UedneyMorais" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>
  </div>
</div>
